<h2>Welcome to <strong>Meshiterro</strong> !!<h2>

<h6>In Meshiterro,</h6>
<h6>SNS community that indiscriminately stimulates the appetite of sensible citizens.</h6>

<div>
  <%= link_to 'Log in', user_session_path, class: "btn btn-info" %>
  <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success" %>
</div>